<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label{
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            font-style: italic;
        }
        input, select{
            width: 350px;
            height: 25px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div th:replace="~{menu::menu-admin}">...</div>

<!--div th:replace="${#authentication.principal.isAdmin()} ? ~{fragments/footer :: footer-admin} : ~{fragments/footer :: footer-admin}">
    &copy; 2016 The Static Templates
</div-->
<div style="margin: 30px 0px 0px 300px">
    <h2>Delete Product</h2>
    <form method="post" action="" th:object="${product}" th:action="|/deletelocalproduct/*{id}|">
        <div>
            <label for="name">NAME</label>
            <input name="productName"  id="name" th:field="*{productName}" readonly>
        </div>
        <div>
            <label for="description">Description</label>
            <input name="description" id="description" th:field="*{description}" readonly>
        </div>
        <div>
            <label for="type">Type</label>
            <input name="type" id="type" th:field="*{productType}" readonly>
        </div>
        <div>
            <label for="price">Price</label>
            <input name="price" id="price" th:field="*{price}" readonly>
        </div>
        <div>
            <input  value="" th:value="#{product.button.delete}" type="submit">
        </div>
    </form>

</div>
</body>
</html>