<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Products in the stock</title>
    </head>
    <body>

        <h1 th:replace="~{menu::welcome}">WELCOME TO THE PAGE</h1>

        <div th:replace="${#authorization.expr('hasAuthority(''ADMIN'')')} ? ~{menu::menu-admin}
                            : (${#authorization.expr('hasAuthority(''USER'')')} ? ~{menu::menu-user}
                            : ~{menu::menu-anonymous})">
        </div>


        <div style="margin: 30px 0px 0px 300px">
            <h2>List Orders</h2>
            <table th:if="${orders != null}" th:object= "${orders}" cellspacing="15px">
                <tr style="font-weight: bold; text-transform: uppercase; border-bottom: thick silver solid;">
                    <td colspan="2">Client</td>
                    <td>Date</td>
                    <td>Product</td>
                    <td>Quantity</td>
                    <td colspan="2"></td>
                </tr>
                <tr th:each="item : ${orders}">
                    <td th:text="${item.person.firstName}"></td>
                    <td th:text="${item.person.lastName}"></td>
                    <td th:text="${item.orderDate}"></td>
                    <td th:each="orderline : ${item.orderLines}" th:text="${orderline.product.productName}"></td>
                    <td th:each="orderline : ${item.orderLines}" th:text="${orderline.quantity}"></td>
                    <td>
                </tr>
            </table>
        </div>

    </body>
</html>