<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

         <!--h1 sec:authorize="isAuthenticated()" th:fragment="welcome">
                | Logged user: <span sec:authentication="name" th:text="${principal.username}"></span> |
                Roles: <span sec:authentication="principal.authorities" th:text="principal.name"></span> |
                <a th:href="@{/logout}">Sign Out</a>
         </h1-->

        <div th:fragment="menu-admin" style="float: left">
            <h2>Menu</h2>
            <ul>
                <li><a href="/home"  th:text="#{label.menu.home}"></a></li>
                <li><a href="/registration"  th:text="#{label.menu.account}"></a></li>
                <li><a href="/login"  th:text="#{label.menu.login}"></a></li>
                <li><a href="/editlocalperson"  th:text="#{label.menu.info}"></a></li>
                <li><a href="/listpersons"  th:text="#{label.menu.persons}"></a></li>
                <li><a href="/home"  th:text="#{label.menu.products}"></a></li>
                <li><a href="#"  th:text="#{label.menu.orders}"></a></li>
                <li><a href="/addorder"  th:text="#{label.menu.ordering}"></a></li>
                <li><a href="#"  th:text="#{label.menu.logout}"></a></li>
            </ul>
        </div>
        <div th:fragment="menu-user" style="float: left">
            <h2>Menu</h2>
            <ul>
                <li><a href="/home"  th:text="#{label.menu.home}"></a></li>
                <li><a href="/registration"  th:text="#{label.menu.account}"></a></li>
                <li><a href="/login"  th:text="#{label.menu.login}"></a></li>
                <li><a href="/editlocalperson"  th:text="#{label.menu.info}"></a></li>
                <li><a href="/home"  th:text="#{label.menu.products}"></a></li>
                <li><a href="/addperson"  th:text="#{label.menu.ordering}"></a></li>
                <li><a href="#"  th:text="#{label.menu.logout}"></a></li>
            </ul>
        </div>

    </body>
</html>