<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="" th:object="${product}" th:action="|/deleteproduct/*{id}|">
    <div>
        <label for="name">NAME</label>
        <input name="productName"  id="name" th:field="*{productName}" readonly>
    </div>
    <div>
        <label for="description">Description</label>
        <input name="description" id="description" th:field="*{description}" readonly>
    </div>
    <div>
        <label for="type">Type</label>
        <input name="type" id="type" th:field="*{productType}" readonly>
    </div>
    <div>
        <label for="price">Price</label>
        <input name="price" id="price" th:field="*{price}" readonly>
    </div>
    <div>
        <input  value="" th:value="#{product.button.delete}" type="submit">
    </div>
</form>
</body>
</html>