<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="" th:object="${product}" th:action="|/editproduct/*{id}|">
    <div>
        <label for="name">NAME</label>
        <input name="productName"  id="name" th:field="*{productName}" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input name="description" id="description" th:field="*{description}" required>
    </div>
    <div>
        <label for="type">Type</label>
        <select name="type" id="type" th:field="*{productType}">
            <option th:each="type : ${productType}" th:value="${type}" th:text="${type}"></option>
        </select>
    </div>
    <div>
        <label for="price">Price</label>
        <input name="price" id="price" th:field="*{price}" required>
    </div>
    <div>
        <input  value="" th:value="#{product.button.edit}" type="submit">
    </div>
</form>
</body>
</html>